html {
    max-width: 900px;
    margin: 0 auto;
    background-color: #2B2D42;
    font-family: monospace;
    color: #D2D4C8;
}


ul{
  list-style-type: none;
  text-align: center;
  font-size: 1.2em;
  padding-left: 0px;
}

.row {
  display: flex;
  align-items: center;
}

p {
    text-align: justify;
    font-size: 1.05em;
}

nav {
  text-align: center;
  font-size: 1.5em;
}

nav a {
  font-size: 1.5em;
}


img {
  align-self: center;
}

h1 {
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #E0E2DB;
}

h2 {
  font-size: 3.5em;
  text-align: center;
  color: #E0E2DB;
}

h3 {
  font-size: 2em;
  color: #E0E2DB;
}

h4 {
  font-size: 1.5em;
  color: #E0E2DB;
}

footer {
  display: block;
  text-align: right;
  color: darkgray;
}

/* unvisited link */
a:link {
  color: #6AB487;
}

/* visited link */
a:visited {
  color: #4B9569;
}

/* mouse over link */
a:hover {
  color: #AED6BE;
}

/* selected link */
a:active {
  color: #499167;
}

.header {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

hr {
  border-top: 4px #6290C3 solid;
  border-bottom: 0px;
  display: block;
  border-left-width: 0;
  border-right-width: 0;
}

.js-show-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
  }
  
.left {
    width: 65%;
    float: left;
    clear: left;
  }
  
.right {
    width: 35%;
    float: right;
    clear: right;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.profile {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
  display: none;
}

#contact {
  font-size: 1.75em;
}

#listheading {
  text-align: center;
}


.container {
  max-width: 600px;
  margin: 2rem auto;

  .block {
    padding: 1.5rem;
    border-radius: 4px;
    margin-bottom: 4rem;
  }

  .content {
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;

    h2 {
      margin: 0.5rem 0;
    }
  }

  a {
    appearance: none;
    color: #2779bd;
    display: inline-flex;
    align-items: center;
    height: 26px;
    text-decoration: none;
    line-height: 26px;
    padding: 0 14px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #2779bd;

    &:hover {
      background-color: rgba(#2779bd, 0.1);
    }
  }
}

.excerpt-hidden {
  height: 3.5rem;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 1) 100% );
  }
}

.excerpt-visible {
  height: auto;
  overflow: auto;
}









@media screen and (max-width: 900px) {
    .column {
      width: 100%;
    }
    html {
        max-width: 800px;
        margin: 0 auto;
    }

    
    h1 {
      font-size: 3em;
      text-align: center;
    }

    h2 {
      font-size: 2.5em;
      text-align: center;
      display: block;
    }

    h3 {
      font-size: 2em;
      text-align: center;
    }

    h4 {
      font-size: 1.1em;
      text-align: center;
    }

    .row {
      display: block;
    }
  }
